body{
    background: linear-gradient(296.8deg, rgba(90, 87, 255, 0.58) -22.17%, rgba(0, 0, 0, 0) 100%), 
    linear-gradient(113.39deg, rgba(249, 121, 205, 0.7) -16.88%, rgba(0, 0, 0, 0) 100%), 
    linear-gradient(116.34deg, #000000 0.49%, rgba(179, 179, 179, 0) 99.79%), #000000;   
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    width: 70%;
    height: 70%;
    text-align: center;
}
.Outer_Frame
{
    margin-bottom: 20px;
    position: absolute;
    width: 1337px;
    height: 920px;
    left: 74px;
    top: 46px;
    background: rgba(156, 156, 156, 0.13);
    border-radius: 60px;
}
.A{
    display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.B{
    display: flex;
    flex-wrap: wrap;
}
.sym
{
    display: inline-block;
  align-self: flex-end;
}
.last
{
width: 549px;
height: 106px;
background: rgba(255, 255, 255, 0.06);
border-radius: 60px;
position: relative;
top: 525px;
text-align: center;
}
.ii
{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.ip
{
    margin-right: 55px;
    margin-left: 55px;
    margin-top: 30px;
}
.F
{
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 55px;
}
.ip:hover
{
    opacity: 25%;
}
.ii:hover
{
    opacity: 25%;
}
.Vertical_Bar
{
width: 149px;
height: 910px;
text-align: center;
padding-top: 10px;
/*position: absolute;
left: 0px;
top: 0px;*/
background: rgba(223, 221, 221, 0.12);
border-radius: 60px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 20px;
float: left;

}
.Frame4
{
    display: inline-block;
    padding: 20px;
    width: 445px;
    height: 332px;
    /*position: absolute;
    left: 642px;
    top: 445px;*/
    background: rgba(148, 122, 122, 0.12);
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 60px;
    /*transform: rotate(-180deg);*/
}
.inpu{
    margin-left: 8%;
    display: flex;
    border-radius: 60px;
    position:relative;
    top: 50px;
    background: rgba(148, 122, 122, 0.12);
    border: rgba(0, 0, 0, 0);
    width: 465px;
    height: 54px;
    font-size: 20px;
    color: rgba(248, 238, 244, 0.7);
    text-align: center;

}
.op{
    position:relative;
    top: 20px;
    margin-left: 50px;
}
.Frame5
{
margin-left: 50px;
float: right;
padding: 20px;
width: 549px;
height: 744px;
/*position: absolute;
left: 1246px;
top: 857px;*/
background: rgba(148, 122, 122, 0.12);;
box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.04);
border-radius: 60px;
/*transform: rotate(-180deg);*/
}
.pp{
    margin-top: 0;
    color: rgba(24, 24, 24, 0.658);
    font-size: 20px;
    font-weight: bold;
}
.Y
{
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    color: rgba(14, 0, 0, 0.973);
    font-size: 40px;
}
.F4
{
    color: rgba(14, 0, 0, 0.973);
    font-size: 25px;
    margin-bottom: 10px;
}
.F4i
{
    color: rgba(250, 244, 244, 0.945);
    font-size: 30px;
    font-weight: bold;
}
.Right
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;
    padding-top: 25px;
}
.icon{
    margin-left: 10px;
}
.Frame3
{
width: 445px;
height: 332px;
/*position: absolute;
left: 642px;
top: 857px;*/
background: rgba(148, 122, 122, 0.12);
box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.04);
border-radius: 60px;
display: flex;
margin-top: 40px;
padding: 20px;
/*transform: rotate(-180deg);*/
}